<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magmakers" sortOrder="999" translate="label">
            <label>Magmakers</label>
        </tab>
        <section id="discount_category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Category with promotion products</label>
            <tab>magmakers</tab>
            <resource>Magmakres_SpecialPriceCategory::config_magmakres_specialpricecategory</resource>
            <group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>settings</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Category</label>
                    <comment>This category will bye use to add product with special price.</comment>
                    <source_model>Magmakers\SpecialPriceCategory\Model\Config\Source\Category</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
